<config>
<account>tuitrial</account>
<debugTracking>true</debugTracking>
<visitorNamespace>tuiltd</visitorNamespace>
<trackingServer>tuiuk.d1.sc.omtrdc.net</trackingServer>
<media>
<autoTrack>true</autoTrack>
<trackMilestones>25,50,75,100</trackMilestones>
<trackVars>events,eVar15,eVar16,eVar17,prop3</trackVars>
<trackEvents>event5,event6,event7,event8,event9,event10,event11</trackEvents>
<segmentByMilestones>true</segmentByMilestones>
<trackUsingContextData>true</trackUsingContextData>
<contextDataMapping>
<a.media.name>eVar15,prop3</a.media.name>
<a.media.segment>eVar16</a.media.segment>
<a.contentType>eVar17</a.contentType>
<a.media.timePlayed>event5</a.media.timePlayed>
<a.media.view>event6</a.media.view>
<a.media.segmentView>event8</a.media.segmentView>
<a.media.milestones>
<item name="25">event9</item>
<item name="50">event10</item>
<item name="75">event11</item>
<item name="100">event7</item>
</a.media.milestones>
</contextDataMapping>
</media>
</config>